@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500&display=swap');
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1024px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 230px;
  margin: 0 auto;
  overflow-y: hidden;
  background-image: url(../assets/img/CV.jpg);
  background-size: 100wh;
  color: white;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 700;
}
.header-wrapper {
  padding: 10px 55px;
}
.name {
  font-size: 2em;
  margin: 0;
}
.position {
  font-size: 0.9em;
  margin: 0;
}
.info {
  display: flex;
  justify-content: space-between;
}
.photo {
  width: 150px;
  height: 150px;
  margin-bottom: -3%;
  border-radius: 5%;
  border: 10px solid #e8e7e8;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  width: 470px;
  height: 70px;
  margin-right: -55px;
  margin-top: 110px;
  background-color: rgb(75, 77, 134, 0.5);
}
.contact-elem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-elem-mob {
  width: 120px;
}
.contact-elem-mail {
  width: 140px;
  color: white;
  text-decoration: none;
}
.contact-elem-tg {
  width: 160px;
  color: white;
  text-decoration: none;
}
.contact-elem-p {
  font-size: 0.7em;
  font-weight: 700;
  line-height: 36px;
}
.mobile::before {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  margin-left: 35%;
  background: url(../assets/img/Background-mob.svg);
}
.mail::before {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  margin-left: 45%;
  background: url(../assets/img/Background-mail.svg);
}
.telegram::before {
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  margin-left: 45%;
  background: url(../assets/img/Background-tg.svg);
}
.main {
  display: flex;
  justify-content: space-around;
}
.left-media {
  width: 35%;
  padding: 20px;
  font-family: 'Maven Pro', sans-serif;
  background-color: #000000bb;
  color: #ffffff;
}
.right-media {
  width: 65%;
  padding: 20px;
  font-family: 'PT Sans', sans-serif;
  background-color: #e2e2e2;
}
.social-media {
  margin-bottom: 20px;
}
.summary {
  margin-bottom: 20px;
}
.social::before {
  display: inline-block;
  content: '';
  width: 34px;
  height: 34px;
  margin-right: 10px;
  background: url(../assets/img/Background.svg);
}
.skills::before {
  display: inline-block;
  content: '';
  width: 38px;
  height: 38px;
  margin-right: 10px;
  background: url(../assets/img/Background-skill.svg);
}
.summary-p::before {
  display: inline-block;
  content: '';
  width: 38px;
  height: 38px;
  margin-right: 10px;
  background: url(../assets/img/Background-summary.svg);
}
.linkOnMedia {
  color: #ffffff;
  text-decoration: none;
}
.education-p::before {
  display: inline-block;
  content: '';
  width: 40px;
  height: 36px;
  margin-right: 10px;
  background: url(../assets/img/Background-education.svg);
}
.english-p::before {
  display: inline-block;
  content: '';
  width: 40px;
  height: 36px;
  margin-right: 10px;
  background: url(../assets/img/Background-english.svg);
}
.experience-p::before {
  display: inline-block;
  content: '';
  width: 38px;
  height: 32px;
  margin-right: 10px;
  background: url(../assets/img/Background-exp.svg);
}
.code-p::before {
  display: inline-block;
  content: '';
  width: 40px;
  height: 36px;
  margin-right: 10px;
  background: url(../assets/img/Background-code.svg);
}
.social,
.skills,
.summary-p,
.education-p,
.english-p,
.experience-p,
.code-p {
  margin: 20px 0px 10px 0px;
  font-size: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
}
.social-ul,
.whishes-ul,
.education-ul {
  list-style: square;
  padding-left: 25px;
}
.whishes-ul {
  padding-top: 15px;
}
.social-elem:first-child {
  margin-top: 10px;
}
.social-elem {
  width: 90%;
  margin-bottom: 12px;
}
.whishes-span,
.level-span {
  font-weight: 700;
  font-size: 1.1em;
}
.text {
  margin: 15px 0px;
}
.skills-bar {
  margin-top: 20px;
}
.level,
.education,
.english,
.experience {
  margin-bottom: 20px;
}
.examples {
  width: 100px;
  height: 40px;
  text-decoration: none;
  color: #00000088;
}
.black-hr {
  border: 0.5px solid #000000aa;
}
.white-hr {
  border: 0.4px solid #ffffff;
}
.bar {
  height: 3px;
  width: 200px;
  border: 1px solid #000000;
  background-color: whitesmoke;
}
.progress-html,
.progress-css,
.progress-es,
.progress-jq,
.progress-bo,
.progress-bem,
.progress-git,
.progress-web,
.progress-py {
  height: 3px;
}
.progress-html {
  width: 90%;
  background-color: coral;
}
.progress-css {
  width: 85%;
  background-color: cornflowerblue;
}
.progress-es {
  width: 75%;
  background-color: orange;
}
.progress-jq {
  width: 60%;
  background-color: orchid;
}
.progress-bo {
  width: 40%;
  background-color: purple;
}
.progress-bem {
  width: 70%;
  background-color: sandybrown;
}
.progress-git {
  width: 65%;
  background-color: tomato;
}
.progress-web {
  width: 40%;
  background-color: slateblue;
}
.progress-py {
  width: 60%;
  background-color: steelblue;
}
